streamlit==1.32.0
mediapipe
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
fpdf==1.7.2
openai==1.14.1
streamlit-authenticator
pymongo==4.6.1
moviepy==1.0.3
imageio-ffmpeg==0.4.8
setuptools
